{% extends 'base.html.twig' %}

{% block title %}Hommes index{% endblock %}

{% block body %}
    <h1>Hommes index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>HommeImages</th>
                <th>HommeNom</th>
                <th>HommePrix</th>
                <th>HommeEtat</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for homme in Hommes %}
            <tr>
                <td>{{ homme.id }}</td>
                <td>{{ homme.HommeImages }}</td>
                <td>{{ homme.HommeNom }}</td>
                <td>{{ homme.HommePrix }}</td>
                <td>{{ homme.HommeEtat }}</td>
                <td>
                    <a href="{{ path('app_hommes_show', {'id': homme.id}) }}">show</a>
                    <a href="{{ path('app_hommes_edit', {'id': homme.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_hommes_new') }}">Create new</a>
{% endblock %}
